paas-gui-0.0.3/src/main/resources/image-registry.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TenantConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tenant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ImageTenantConfigs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ImageRegistry" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:string" name="Location"/>
                          <xs:element type="xs:float" name="Version"/>
                          <xs:element type="xs:string" name="UserName"/>
                          <xs:element type="xs:string" name="Password"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

